
.chat-list {
  padding: 10px 20px;
  height: 100%;

  &__header {
    height: 15%;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media(max-height: 900px ) {
      height: 25%;
    }

    &__title {
      display: flex;
      align-items: center;
    }

    &__chat-list {
      display: flex;
      justify-content: space-evenly;
      height: 25%;
    }
  }

  &__list {
    overflow-y: auto;
    height: 85%;

    @media(max-height: 900px ) {
      height: 75%;
    }

  }

  &__list::-webkit-scrollbar {
    display: none;
  }
}